<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
    <add name="ConnnectionString" connectionString="Data Source=L-JCABAOAG;Initial Catalog=LABCGH;User ID=sa;Password=!m5mdmp1"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
